A:hover{color:red; mso-bidi-font-size:12pt}
H1{color:green;text-align:center}
H1.right{text-align:left}
EM.autor{color:red}
.question{color:brown}
P{text-align:center}
.right{text-align:right}
TABLE{border-style:dotted}
.button {
height:30px;
border-color:#c2e254 #9bb838 #9bb838 #c2e254;
border-style:solid;
border-width:1px;
background:#c2e254;
cursor:pointer;
}
.button:hover {
border-color:#FFCC66 #FFFF99 #FFFF99 #FFCC66;
border-style:solid;
border-width:1px;
background:#FFFF99;
}

.button:focus {
background:#ddd;
border-color:#ddd #333 #333 #ddd;
border-style:solid;
border-width:1px;
}

table {
border: 0 dashed gray;
border-spacing : 4px;
}

table td {
border: 1px dotted black;
padding: 2px;
font: 8pt Verdana, sans-serif;
background-color: #FFFFFF;
}

tr:hover td {
background-color: #9092EC;
} 